/*
* Based on: 
* Identity example in Chrome Apps Samples 
* https://github.com/GoogleChrome/chrome-app-samples/tree/master/samples/identity 
* https://github.com/GoogleChrome/chrome-app-samples/blob/master/LICENSE
*/

html, body {
  margin: 0;
  font-family: 'Open Sans Regular', sans;
  color: #666;
  background: #fafafa;
  width: 454px;
  height: 560px;
}

.header {
  text-align: center;
  padding: 10px 0 10px 0;
}

.header hr {
  height: 6px;
  border: none;
  margin-top: 20px;
  background: -webkit-linear-gradient(0deg,
    rgb(51,105,232) 0%,
    rgb(51,105,232) 25%,
    rgb(222,30,37) 25%,
    rgb(222,30,37) 50%,
    rgb(255, 210, 0) 50%,
    rgb(255, 210, 0) 75%,
    rgb(76,187,71) 75%,
    rgb(76,187,71) 100%
    );
 }

.header .links * {
  margin-left: 5px;
}

.header .links a {
  color: #666;
}

.header:hover .links a {
  color: #3399cc;
}

.flows h2 {
  margin-left: 5px;
  margin-bottom: 10px;
}

.flow {
  margin: 10px 20px 20px 20px;
  border: 1px solid #ddd;
  padding: 8px;
  background: white;
}

.flow button {
  cursor: pointer;
  background: -webkit-linear-gradient(top,#008dfd 0,#0370ea 100%);
  border: 1px solid #076bd2;
  text-shadow: 1px 1px 1px #076bd2;
  color: white;
  font-weight: 700;
  font-size: 13px;
  margin: .5em 0 1em;
  padding: 8px 17px 8px 17px;
  border-radius: 3px;
}

.flow button.error {
  background: -webkit-linear-gradient(top,#008dfd 0,#0370ea 100%);
  border: 1px solid #076bd2;
  text-shadow: 1px 1px 1px #076bd2;
  color: white;
  font-weight: 700;
  font-size: 13px;
  margin: .5em 0 1em;
  padding: 8px 17px 8px 17px;
  border-radius: 3px;
}

.flow button:disabled {
  background: -webkit-linear-gradient(top, #dcdcdc 0, #fafafa 100%);
  color: #999;
  text-shadow: 1px 1px 1px #fafafa;
  border: 1px solid #ddd;
  cursor: auto;
}


.flow button.loading {
    background-color: #008dfd;
	}
    .flow button.loading:before {
      content: '';
      position: absolute;
      height:5px;
      background-color: inherit;
      left: 0;
      bottom: 0;
      will-change: left, right;
      -webkit-animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
              animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite; }
    .flow button.loading:after {
      content: '';
      position: absolute;
	  height:5px;
      background-color: inherit;
      left: 0;
      bottom: 0;
      will-change: left, right;
      -webkit-animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
              animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
      -webkit-animation-delay: 1.15s;
              animation-delay: 1.15s; }

@-webkit-keyframes indeterminate {
  0% {
    left: -35%;
    right: 100%; }
  60% {
    left: 100%;
    right: -90%; }
  100% {
    left: 100%;
    right: -90%; } }
@keyframes indeterminate {
  0% {
    left: -35%;
    right: 100%; }
  60% {
    left: 100%;
    right: -90%; }
  100% {
    left: 100%;
    right: -90%; } }
@-webkit-keyframes indeterminate-short {
  0% {
    left: -200%;
    right: 100%; }
  60% {
    left: 107%;
    right: -8%; }
  100% {
    left: 107%;
    right: -8%; } }
@keyframes indeterminate-short {
  0% {
    left: -200%;
    right: 100%; }
  60% {
    left: 107%;
    right: -8%; }
  100% {
    left: 107%;
    right: -8%; } }

.log {
  margin: 10px 20px 20px 20px;
}

.log textarea {
  width: 100%;
  min-height: 120px;
  font-family: "Courier New", Courier, monospace;
  margin: 2px;
  background: #FFFFFF;
  color: #727272;
  border: 1px solid rgb(182, 182, 182);
}

#exec_data{
  min-height: 80px;
}
